doctype html
html(lang='en',ng-app='brwryApp')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
		title BRWRY
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='/lib/font-awesome/css/font-awesome.min.css')
		script(src='/socket.io/socket.io.js')
		script(src='/lib/angular/angular.min.js')
		script(src='/lib/angular-bootstrap/ui-bootstrap.min.js')
		script(src='/lib/angular-resource/angular-resource.min.js')
		script(src='/lib/angular-bootstrap/ui-bootstrap-tpls.min.js')
		script(src='/lib/angular-ui-router/release/angular-ui-router.min.js')
		script(src='/js/app.js')
		script(src='/js/controllers.js')
		script(src='/js/services.js')
		script(src='/js/directives.js')
		script(src='/lib/d3/d3.min.js')
	body
		div.container
			div.navbar.navbar-default(role='navigation' data-ng-controller="BrewCtrl")
				div.container-fluid
					div.navbar-header
						button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href='#') <i class="fa fa-beer"></i> BRWRY
					div.navbar-collapse.collapse
						ul.nav.navbar-nav
							li
								a(href='#/') Home
							li
								a(href='#/setup') Setup
						ul.nav.navbar-nav.navbar-right
							li(data-ng-repeat="temperature in temperatures")
								a(href='#/' tooltip-placement="bottom" tooltip="{{temperature.sensorname}}") {{temperature.temperature}} &deg;C
							li(data-ng-repeat="gpioPin in system.equipment | orderBy:gpioPin.address")
								div.btn-group.navbar-btn-group
									button.btn.navbar-btn(type="button" data-ng-click="gpioToggle(system,gpioPin)" data-ng-class="getEquipmentClass(gpioPin)") {{gpioPin.address}} <span class="badge">{{getEquipmentStatus(gpioPin)}}</span>
									button.btn.dropdown-toggle.navbar-btn(type="button" data-ng-class="getEquipmentClass(gpioPin)" data-toggle="dropdown")
										span.caret
										span.sr-only Toggle Dropdown
									ul.dropdown-menu(role="menu")
										li
											a(href="#" data-ng-click="gpioOn(system,gpioPin)") On
										li(data-ng-repeat="target in gpioPin.targets")
											a(data-ng-click="gpioPID(system,gpioPin)") PID {{target.targetname}} 
												input(numbers-only ng-enter="gpioPID(system,gpioPin)" stop-event="click" type="number" data-ng-model="target.targetvalue")
										li
											a(href="#" data-ng-click="gpioOff(system,gpioPin)") Off
							li
								button.btn.btn-danger.navbar-btn(href='#/' data-ng-click="gpioAll()") All Off!
			div(data-ui-view)