<alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">{{system.brewername}}'s {{system.systemname}}</h3></div>
			<div class="panel-body">
				<div data-ng-show="system.brewstate">
					<p>Currently Brewing: {{system.currentbrew}}</p>
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-danger" data-ng-click="stopBrew()">Stop the Brew</span></button>
						</div>
					</div>
				</div>
				<div data-ng-hide="system.brewstate">
					<p>Brew Name: <input type="text" ng-model="system.currentbrew"> </p>
					<div class="btn-group btn-group-justified">
						<div class="btn-group">
							<button type="button" class="btn btn-success" data-ng-click="newBrew(system)">Start New Brew</span></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-warning">
			<div class="panel-heading"><h3 class="panel-title">Temperature Data</h3></div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="temperature in temperatures">{{temperature.temperature}} on sensor {{temperature.sensoraddress}} at {{temperature.datetime}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-4">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3 class="panel-title">GPIO Pin Control</h3></div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="gpioPin in system.equipment | orderBy:gpioPin.address"><button class="btn btn-primary" ng-click="toggleGPIO(system,gpioPin)">Toggle</button> GPIO Pin {{gpioPin.address}} has a value of {{gpioPin.value}}. Last changed: {{gpioPin.date}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-success">
			<div class="panel-heading"><h3 class="panel-title">Chart</h3></div>
			<div class="panel-body">
				<div class="row">
					<d3 class="col-xs-9" id="d3chart">
					</d3>
					<div class="col-xs-3">
					asdf
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-info">
			<div class="panel-heading"><h2 class="panel-title">Debug</h2></div>
			<div class="panel-body">
			<pre>{{temperatureminute}}</pre>
			<pre>{{temperaturesecond}}</pre>
			<pre>{{dataequipment}}</pre>
			</div>
		</div>
	</div>
</div>