<alert data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
			<div class="panel-heading"><h3 class="panel-title">System Info</h3></div>
			<div class="panel-body">
				<div class="input-group">
					<span class="input-group-addon">System Name</span>
					<input type="text" class="form-control" data-ng-model="system.systemname">
				</div>
				<br/>
				<div class="input-group">
					<span class="input-group-addon">Brewer Name</span>
					<input type="text" class="form-control" data-ng-model="system.brewername">
				</div>
				<br/>
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" data-ng-click="updateSystem(system)">Update System Info</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-warning">
			<div class="panel-heading"><h3 class="panel-title">Temp Sensor Setup</h3></div>
			<div class="panel-body">
				<div class="row">
					<div class="col-xs-6">
						<div class="input-group">
							<span class="input-group-addon">Sensor Memory Buffer (temporary):</span>
							<input type="text" class="form-control" data-ng-model="system.sensorLength">
							<span class="input-group-addon"># Data Points</span>
						</div>
						<br/>
						<div class="input-group">
							<span class="input-group-addon">Sensor Interval</span>
							<input type="text" class="form-control" data-ng-model="system.sensorInterval">
							<span class="input-group-addon">milliseconds</span>
						</div>
						<br/>
						<div class="input-group">
							<span class="input-group-addon">Sensor Storage Interval</span>
							<input type="text" class="form-control" data-ng-model="system.sensorStoreInterval">
							<span class="input-group-addon">milliseconds</span>
						</div>	
					</div>
					<div class="col-xs-6"><p><b>Memory Buffer</b> is how many points will be stored in memory (not to a brew file).</p><p><b>Sensor Interval</b> is how frequent the sensor checks the temperature.</p><p><b>Sensor Storage Interval</b> is how often points are stored in the brew file.</p></div>
				</div>
			</div>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Address</th>
						<th>Name</th>
						<th>Location</th>
						<th>Enabled?</th>
						<th>Calibration</th>
						<th>Last Changed</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="temperature in system.sensors">
						<td>{{temperature.sensoraddress}}</td>
						<td><input type="text" ng-model="temperature.sensorname"></td>
						<td><input type="text" ng-model="temperature.sensorloc"></td>
						<td><input type="checkbox" data-ng-model="temperature.sensorstatus" data-ng-true-value="1" data-ng-false-value="0"></td>
						<td><input type="number" ng-model="temperature.sensorcalibration"></td>
						<td>{{temperature.sensorlastchange}}</td>
					</tr>
				</tbody>
			</table>
			<br/>
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" data-ng-click="updateSensors(system)">Update All Sensors</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-12">
		<div class="panel panel-danger">
			<div class="panel-heading"><h3 class="panel-title">GPIO Pin Setup</h3></div>
			<div class="panel-body">Allowable Pins are: {{allowablepins}}</div>
			<table class="table table-striped table-condensed">
				<thead>
					<tr>
						<th>Pin</th>
						<th>Name</th>
						<th>Type</th>
						<th>Targets</th>
						<th>Location</th>
						<th>Status</th>
						<th>Safe Value</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="gpioPin in system.equipment | orderBy:'address'">
						<td>{{gpioPin.address}}</td>
						<td><input type="text" ng-model="gpioPin.name"></td>
						<td><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{gpioPin.type}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li data-ng-repeat="pinType in pinTypes"><a data-ng-click="pinTypeSet(gpioPin,pinType)">{{pinType}}</a></li>
							</ul>
						</div></td>
						<td><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
								<span data-ng-repeat="targetname in gpioPin.targets">
									{{ targetname.targetname }} <span ng-show=" ! $last ">, </span>
								</span> <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li data-ng-repeat="temperature in system.sensors"><a data-ng-click="pinTargetSet(gpioPin,temperature.sensorname)">{{temperature.sensorname}}</a></li>
							</ul>
						</div></td>
						<td><input type="text" ng-model="gpioPin.location"></td>
						<td><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="gpioPin.value" ng-checked="gpioPin.value"></td>
						<td><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="gpioPin.safeValue" ng-checked="gpioPin.safeValue"></td>
						<td><button class="btn btn-danger" ng-click="removeGPIO(system,gpioPin)">Remove</button></td>
					</tr>
					<tr data-ng-if="availablePins.length > 0">
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr data-ng-if="availablePins.length > 0">
						<td><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{newPin.address}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li data-ng-repeat="availablePin in availablePins"><a data-ng-click="pinSet(availablePin)">{{availablePin}}</a></li>
							</ul>
						</div></td>
						<td><input type="text" ng-model="newPin.name"></td>
						<td><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{newPin.type}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li data-ng-repeat="pinType in pinTypes"><a data-ng-click="pinTypeSet(newPin,pinType)">{{pinType}}</a></li>
							</ul>
						</div></td>
						<td><div class="btn-group">
							<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
							{{gpioPin.targets}} <span class="caret"></span>
							</button>
							<ul class="dropdown-menu" role="menu">
								<li data-ng-repeat="temperature in system.sensors"><a data-ng-click="pinTargetSet(newPin,temperature.sensorname)">{{temperature.sensorname}}</a></li>
							</ul>
						</div></td>
						<td><input type="text" ng-model="newPin.location"></td>
						<td><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="newPin.value" ng-checked="newPin.value"></td>
						<td><input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="newPin.safeValue" ng-checked="newPin.safeValue"></td>
						<td><button class="btn btn-success" ng-click="newGPIO(system,newPin)">Add</button></td>
					</tr>
				</tbody>
			</table>
			<br/>
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					<div class="btn-group">
						<button type="button" class="btn btn-primary" data-ng-click="updateAllGPIO(system)">Update All Pins</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>